body {
    font-family: 'Comic Sans MS', Arial;
    margin: 0px;
}

#main {
    background-image: linear-gradient(#5be, #b8e);
    height: 100%;

    align-content: center;
    text-align: center;
    /*font-size: 150%;*/
    /*font-weight: bold;*/
    overflow-y: scroll;
}

#main #line {
    background-image: linear-gradient(90deg, #0000, #0004, #0000);
    height: 2px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

#rooms {
    background-color: #fff8;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.success {
    background-image: linear-gradient(#4b3, #694);
    border: 2px solid #484;
    border-radius: 4px;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.failure {
    background-image: linear-gradient(#e41, #c53);
    border: 2px solid #a44;
    border-radius: 4px;
    width: 30%;
    margin: auto;
    padding: 10px;
}