body {
    display: flex;
    flex-direction: column;
    font-family: 'Comic Sans MS', Arial;
    height: 100vh;
    margin: 0px;
}

#main {
    background-image: linear-gradient(#5be, #b8e);
    height: 100%;
    align-content: center;
    text-align: center;
    overflow-y: auto;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

#main #line {
    background-image: linear-gradient(90deg, #0000, #0004, #0000);
    height: 2px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

/* Pasek u gory strony */

#topbar {
    background-image: linear-gradient(#24c, #12f);
    border-bottom: 1px solid #237;
    box-shadow: 0px 1px 2px #0004;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 1;
}

#topbar a {
    color: #8f8;
}

/* Generyczny kontener (np. na przyciski) */

form, .pane {
    background-color: #ddd8;
    border: 1px solid #fff;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    padding: 5px;
}

/* Formularze */

form {
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

form label {
    display: block;
    width: 50%;
    margin: auto;
    text-align: left;
}

input {
    font-family: inherit;
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 100%;
}

input[type="submit"] {
    background-image: linear-gradient(#3c6, #1a5);
    border: 1px solid #cf8;
    border-right: 1px solid #271;
    border-bottom: 1px solid #271;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="submit"]:active {
    border: 1px solid #271;
    border-right: 1px solid #cf8;
    border-bottom: 1px solid #cf8;
}

input.red[type="submit"] {
    background-image: linear-gradient(#f63, #c31);
    border: 1px solid #fa8;
    border-right: 1px solid #a31;
    border-bottom: 1px solid #a31;
    margin-bottom: 0px;
}

input.red[type="submit"]:active {
    border: 1px solid #a31;
    border-right: 1px solid #fa8;
    border-bottom: 1px solid #fa8;
}

form input[type="submit"] {
    margin-top: 15px;
}

/* Naglowek okienka */

#header {
    background-image: linear-gradient(#24c, #12f);
    border: 1px solid #3af;
    border-right: 1px solid #237;
    border-bottom: 1px solid #237;
    box-shadow: 0px 1px 2px #0004;
    color: #fff;
    z-index: 1;
}

/* Lista pokoi */

#rooms {
    background-color: #fff8;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

/* Wrappery glownych elementow gry */

/* -> #game, #game_under */
#game_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* -> #chat, #player_list */
#game_under {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
}

/* Gra */

#game_box {
    flex-grow: 1;
}

#game {
    border: 0;
    width: 100%;
    height: 100%;
}

/* Czat */

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#chat_messages {
    flex-grow: 1;
    background-color: #ddd8;
    border: 1px solid #888;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow-y: scroll;
}

#chat_messages .message {
    background-color: #48f5;
    padding-left: 3px;
    padding-right: 3px;
    text-align: left;
    font-size: 80%;
    overflow-wrap: break-word;
}

#chat_messages .message:nth-child(2n) {
    background-color: #48f3;
}

#chat_messages .system {
    color: #00d;
}

form#chat_form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
    margin: 0px;
    padding: 5px;
}

form#chat_form label {
    width: auto;
    margin: auto;
}

form#chat_form input {
    flex-grow: 1;
    margin: 0px;
}

form#chat_form input[type="text"] {
    padding: 0px;
}

form#chat_form input[type="submit"] {
    flex-grow: 0;
    width: auto;
}

/* Lista graczy */

#player_list {
    display: flex;
    flex-direction: column;
    width: 400px;
}

#players {
    flex-grow: 1;
    background-color: #ddd8;
    border: 1px solid #888;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    overflow-y: auto;
}

/* Status box */

.success {
    background-image: linear-gradient(#3d6, #1b5);
    border: 1px solid #271;
    width: 30%;
    margin: auto;
    padding: 10px;
}

.failure {
    background-image: linear-gradient(#f63, #d31);
    border: 1px solid #a31;
    width: 30%;
    margin: auto;
    padding: 10px;
}